body {
    /* Eliminates the white space from the edges of the page. */
    margin: 0%;
    color: #CEB888;
    background-color: #782F40;
}
header {
    /* Changes the background height of the header. */
    height: 30px;
}
h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color: aliceblue;
}
h3 {
    text-align: center;
    color: aliceblue;
}

.menu-toggle {
    background: #782F40;
    height: 64px;
}

/* Gives the characteristics of the links inside the navbar inside the header. */
.menu-toggle>ul {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.menu-toggle>ul>li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}

.menu-toggle>ul>li>a {
    clear: left;
    color: #CEB888;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 0;
    transition: 0.3s;
}

/* Styling charateristics of the hero */
#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-bottom: 20px;
    background-color: black;
    background-repeat: no-repeat;
    /* Sets the background to be center */
    background-position: center;
    /* Sets an image as the background. */
    background-image: url("../img/Darius.png");
}
footer {
    display: block;
    color: blanchedalmond;
    position: sticky;
}
#toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
}
/* Targets any elements with the contact id */
#Contact {
    text-align: center;
    color: aliceblue;
    font-size: 20.5px;
    display: inline;
    float: none;
}
/* Targets any element with the about id */
#About {
    /* Sets the height to value of the monitor divided by 2 */
    height: auto;
    font-size: 20px;
    text-align: center;
    /* sets the padding for top and bottom at 0 and left and right at 12.5% */
    padding: 0 12.5%;
}
/* Targets any element with the program id */
#Programs {
    height: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 5em;
}
/* === Media Queries === */
/* Gives the Characteristics of the toggle menu in the media queries */

@media screen and (max-width: 1299px) {

}

@media only screen and (max-width: 768px) {
    #toggle {
        display: block;
    }

    .menu-toggle > ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        background: #782F40;
    }

    .menu-toggle > ul > li {
        display: block;
        text-align: center;
        margin: 2em;
    }

    .hidden {
        display: none !important;
    }
}

@media screen and (max-width: 320px) {

}