body {
    /* Eliminates the white space from the edges of the page. */
    margin: 0%;
    color: brown;
    background-color: black;
}

#hero {
    min-height: 100vh;
    background-size: 100vh 100vw;
    background-color: black;
    background-repeat: no-repeat;
    /* Sets the background to be center */
    background-position: center center;
    /* Sets an image as the background. */
    background-image: url("../img/Darius.png");
    color: cornsilk;
}

header {
    /* Changes the background color and height of the header. */
    height: 30px;
}

h1 {
    text-align: center;
    color: firebrick;
}

img {
    /* changes the characteristics of the img */
    border: 3px solid white;
    margin: 20px;
}


/* Targets navs inside headers. */

header nav {
    /* Enables flexbox */
    display: flex;
    /* Makes the content in the flexbox horizontal. */
    flex-direction: row;
    /* Spreads out the content evenly in the navbar. */
    justify-content: space-around;
}


/* Gives the characteristics of the links inside the navbar inside the header. */

header nav a {
    /* Declares the font and color of content. */
    text-decoration: none;
    color: white;
}

footer {
    display: block;
    color: blanchedalmond;
    position: sticky;
}


/* Targets any elements with the contact id */

#Contact {
    text-align: center;
}


/* Targets any element with the about id */

#About {
    /* Sets the height to value of the monitor divided by 2 */
    height: 50vh;
    text-align: center;
    /* sets the padding for top and bottom at 0 and left and right at 12.5% */
    padding: 0 12.5%;
}


/* Targets any element with the program id */

#Programs {
    height: 50vh;
    text-align: center;
    padding: 0 12.5%;
}